<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <!-- {{data}}  -->
<div style="display: flex; justify-content:space-evenly">
    <div>
{% for user, tasks in data.items %}
    User: {{user}} <br>Tasks: <br>
    {% for task in tasks %}
        {{task.title}} <br>
    {% endfor %} <br>
{% endfor %}
</div>
<a href="{% url 'register' %}">Add New User</a>
       
   <form action="{% url 'logout' %}">
        <button type="submit">Logout</button>
    </form>
</div>
</body>
</html>