{% extends 'base.html' %}
{% block content %}
<h3 style="text-align: center;">User Registration</h3>
<form method='post'>
    {% csrf_token %}
    {{ form }}
    <button type='submit'>Submit</button>
</form>
{% endblock %}