{% extends 'base.html' %}
{% block content %}


<h3 style="text-align: center;">User login</h3>
    {% for message in messages %}
        <div class="alert alert-success">
            <!-- <a class="close" href="#" data-dismiss="alert">×</a> -->
                {{ message }}
        </div>
    {% endfor %}

<form  method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Login</button>
</form>


{% endblock %}