{% extends 'todo_base.html' %}

{% block Form %}
<form action="#" method="POST">
    {% csrf_token %}
    {% for field in  form%}
        {{field}}
    {% endfor %}
        
    <button type="submit">Submit</button>
</form> <br> <br>
{% endblock Form%}


{% block Title %}   My_Tasks: <br> <br>
    {% for task in tasks %}
        {{task.title}} <br>
    {% endfor %} <br>
{% endblock Title %}


