<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; justify-content:space-around">
<div >
    {% block Form %}

    {% endblock Form %} 

    {% block Title %}
        
    {% endblock Title %}
</div>
    <form action="{% url 'logout' %}">
        <button type="submit">Logout</button>
    </form>
</div>
</body>
</html>